{% extends "base.html.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="my-5">
        <div class="row my-3">
            <input type="text">
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    Ordinateur
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    Ordinateur
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    Ordinateur
                </div>
            </div>

        </div>
    </div>
{% endblock %}
